AI personal Assistance with telegram.json
{
  "name": "AI personal Assistance with telegram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -384,
        0
      ],
      "id": "9a1c697b-896e-4a2d-ad1c-fff8b7447cbd",
      "name": "Telegram Trigger",
      "webhookId": "7614a035-7e32-4b18-a51a-3efb7f2071dc",
      "credentials": {
        "telegramApi": {
          "id": "DsO6poCtyPPxdyi7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a helpful personal assistant that help user to fulfill there requests.\n\nWhen you are asked to perform a task on the current date, please use the current time and date : {{ $now }}\n\n## Output\nYou should provide the output and don't give anything unnecessary. Just make sure that you politely user question and ask if any other information required."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        608,
        0
      ],
      "id": "f318779a-53dd-4c54-b969-dc7822b78dc3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        512,
        144
      ],
      "id": "bf3ffca6-671f-40a4-ac7a-f60d30475fee",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gsegwl3ctp9videj",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "604bac9f-6fb5-4847-89ac-e237a2892a76",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "9a473642-2888-4d7f-8880-8ae26f37960e",
              "name": "message.chat.id",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        0
      ],
      "id": "eeff1ce4-48ae-4e46-9957-d4eba7aefedd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $('Edit Fields').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        0
      ],
      "id": "a51d301d-758b-4ba2-8890-62739d755e8f",
      "name": "Send a text message",
      "webhookId": "1a6ed4a5-1232-4816-a347-da3951902d24",
      "credentials": {
        "telegramApi": {
          "id": "DsO6poCtyPPxdyi7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        640,
        208
      ],
      "id": "fbcd2543-9d78-494d-a572-6bf985204552",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "b3d8e988-8e4c-4efc-a7b4-cc58ca895b9f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "027d5ea9-3731-41e0-a8aa-ab2eccdbdc72",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "=",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        -176,
        224
      ],
      "id": "dad6e8c3-62dc-49aa-9d0a-612ba11d2233",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        32,
        320
      ],
      "id": "c13ea008-419d-4fa8-92a3-adf8d253a8a6",
      "name": "Get a file",
      "webhookId": "0cc3c41a-dfb9-4f5b-9dc5-2c797da93108",
      "credentials": {
        "telegramApi": {
          "id": "DsO6poCtyPPxdyi7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        240,
        320
      ],
      "id": "059a690a-6395-4134-af3a-9eded685b9d8",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "gsegwl3ctp9videj",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "884ca41a-a51d-4b80-bb01-18b28c427434",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f0ba6435f514540762ec4876aa30ff09bdde301c49ee88436f4f3b1769b969bc"
  },
  "id": "YjAESj8nkIsWBE4I",
  "tags": [
    {
      "updatedAt": "2025-12-02T16:38:09.995Z",
      "createdAt": "2025-12-02T16:38:09.995Z",
      "id": "D3s8rOBKLaAvTi0b",
      "name": "Telegram"
    },
    {
      "updatedAt": "2025-12-02T16:39:11.330Z",
      "createdAt": "2025-12-02T16:39:11.330Z",
      "id": "wPfiWQXf2aYYHiMW",
      "name": "assistant"
    }
  ]
}